.password-reset-request-container {
    width: 90%;
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid var(--mainColor);
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .password-reset-request-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--mainColor);
    font-size: 24px;
    font-weight: bold;
  }
  
  .password-reset-request-container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .password-reset-request-container input {
    padding: 10px;
    border: 1px solid var(--mainColor);
    border-radius: 5px;
    font-size: 16px;
  }
  
  .password-reset-request-container button {
    background-color: var(--mainColor);
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .password-reset-request-container button:hover {
    background-color: rgb(34, 90, 130);
  }
  
  .success-message {
    color: green;
    text-align: center;
    margin-top: 10px;
  }
  
  .error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
  }
  